.proofread {
  font-size: 16px;
  width: 1200px;
  margin: 0 auto;
}
.proofread-header {

}
.proofread-main-btngroup {

}
.proofread-main-editor {

}
#editor {
  writing-mode: vertical-rl;
  margin: 2em 0 0 0;
  right: 0;
  color: gray;
  overflow: auto;
  width: 100%;

  outline:none;
  border: 2px solid #ddd;
  padding: 10px;
}
.purple-square,
.blue-square,
.orange-square,
.yellow-square {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ddd;
}
.purple-square {
  background-color: purple;

}
.blue-square {
  background-color: blue;
}
.orange-square {
  background-color: orange;
}
.yellow-square {
  background-color: yellow;
}

