.yuchuli-btngroup {
  .ant-btn {
    margin-left: 10px;
  }
}
.yuchuli-btngroup-left {
  padding: 12px 0;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.yuchuli-btngroup-right {
  padding: 12px 0;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
.yuchuli-main {
  background-color: #fff;
}
.yuchuli-pic {
  padding: 5px;
}
.yuchuli-text {
  padding: 5px;
}
.yuchuli-main-left {
  width: 60%;
  display: inline-block;
  min-height: 300px;
  vertical-align: top;
}
.yuchuli-main-right {
  width: 40%;
  display: inline-block;
  min-height: 300px;
  vertical-align: top;
}